<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB0sLGR2L5kT8sIFVdYDnLh-ohiw_ZzKk&sensor=true">
    </script>
    <script type="text/javascript">

  var geocoder;
  var map;
  var last_marker;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var myLatLng = new google.maps.LatLng(34.05223, -118.24368);

    var mapOptions = {
      zoom: 16,
      center: myLatLng
    }

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


  //   var rails_image = 'assets/rails.png';

  //   var rails_Marker = new google.maps.Marker({
  //       position: myLatLng,
  //       map: map,
  //       title:"Hello World!",
  //       icon: rails_image,
  //       animation: google.maps.Animation.BOUNCE
  // });

    //googlemap api tells me to make contentString to store data.

    // var contentString = '<div id="content'>'</div>';
    //created new array to store json object
    var jobs_array = [];
    // var contentString = '[]';
    var jobs_attributes= [];
    //for loop to push array to map. 
    <% @jobs.each do |j| %>
      jobs_array.push(new google.maps.LatLng(<%= j.latitude %>, <%= j.longitude %>));

      // jobs_attributes.push("<%= j.job_title %>", "<%= j.primary_languages %>");

      jobs_attributes.push({jobTitle: "<%= j.job_title %>", Lang: "<%= j.primary_languages %>"});

    <% end %>
    //console.log to test front end 
    console.log(jobs_attributes);
    console.log(jobs_array);

    // var infowindow = new google.maps.InfoWindow({
    //   content: contentString
    // });
    //for loop to place each marker with stored information. 
    var i, newMarker;
    var infowindow = new google.maps.InfoWindow();

    for (i=0; i < jobs_array.length; i++) {
        newMarker = new google.maps.Marker({
          position: (jobs_array[i]),
          map: map, 
          title: (jobs_attributes[i]).to_s
          });
          google.maps.event.addListener(newMarker, 'click', toggleBounce, (function(newMarker, i) {
            return function() {
              infowindow.setContent(jobs_attributes[i].jobTitle + "<br/>" + jobs_attributes[i].Lang);
              infowindow.open(map, newMarker);
            }
          })(newMarker, i));   
      
      function toggleBounce() { 
        if (newMarker.getAnimation() != null) {
          newMarker.setAnimation(null);
        } 
        else {
     
          newMarker.setAnimation(google.maps.Animation.BOUNCE);
        
        }
    
      }


          // (jobs_attributes[i])
          // icon: html_image
             newMarker.setVisible(true);
    };
    

    // }

  // google.maps.event.addListener(marker, 'click', function(){
  //   infowindow.open(map,marker);

  // });
 }
  google.maps.event.addDomListener(window, 'page:change', initialize);

</script>


<div id="page-wrapper">
	<!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            JobMappr
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 1</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
  <!-- End Top Bar -->
	<div id="map-wrapper">
	 <div id="map-canvas"> </div>
	 <div id= "sidebar"></div>
	</div>
</div>
