<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB0sLGR2L5kT8sIFVdYDnLh-ohiw_ZzKk&sensor=true">
    </script>
    <script type="text/javascript">

  var geocoder;
  var map;
  // var last_marker;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var myLatLng = new google.maps.LatLng(33.97545, -118.3473);

    var mapOptions = {
      zoom: 11,
      center: myLatLng
    }

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    //created new array to store json object
    var jobs_array = [];
    var jobs_attributes = [];
    var job_front_end = [];
    var job_back_end = [];
    var job_full_stack = [];
    //for loop to push array to map. 
    <% @jobs.each do |j| %>
      jobs_array.push(new google.maps.LatLng(<%= j.latitude %>, <%= j.longitude %>));

      jobs_attributes.push({jobTitle: "<%= j.job_title %>", Lang: "<%= j.primary_languages %>", Type: "<%= j.job_type %>"});

      //creating an if statement to capture one type of job_title so that it knows how to respond.
      // if (<%#= j.job_type %> = "Front-End") {
      //   //save to job_front_end array
      //   j.job_type.push(job_front_end)
      // }
    <% end %>
    //console.log to test front end 
    console.log(jobs_attributes);
    console.log(jobs_array);

    //for loop to place each marker with stored information. 
    var i, newMarker;
    var infowindow = new google.maps.InfoWindow();

    for (i=0; i < jobs_array.length; i++) {
        newMarker = new google.maps.Marker({
          position: (jobs_array[i]),
          map: map, 
          title: (jobs_attributes[i]).to_s
          });
          google.maps.event.addListener(newMarker, 'click', (function(newMarker, i) {
            return function() {
              infowindow.setContent(jobs_attributes[i].jobTitle + "<br/>" + jobs_attributes[i].Lang + "<br/>" + jobs_attributes[i].Type)
              infowindow.open(map, newMarker);
            }
          })(newMarker, i));   
          newMarker.setVisible(true);
    };
 }
  google.maps.event.addDomListener(window, 'page:change', initialize);

</script>


<div id="page-wrapper">

	<div id="map-wrapper">
	 <div id="map-canvas"> </div>
   
	 <div id= "sidebar">
    <form action="#" style="text-align: center; margin: 5px;">
      <%= link_to "All Jobs", maps_index_path %>
    <br /> 
      <%= link_to "Front End", maps_index_path(category:"Front-End") %>
    <br />
      <%= link_to "Back End", maps_index_path(category:"Back-End") %>
    <br />
      <%= link_to "Full Stack", maps_index_path(category:"Full-Stack") %>
    <br />
   </form> 
   </div>
	</div>
</div>
