<h3>Dashboard</h3>
<h5>You have a total of <%= current_user.jobs.length %> job(s) currently posted</h5>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<table>
  <thead>
    <tr>
      <th width="200">Job Title</th>
      <th>Job Description</th>
      <th width="120">Job Type</th>
      <th>Experience</th>
      <th width="120">Date Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% current_user.jobs.each do |job|%>
	    <tr>
	      <td><%= job.job_title %></td>
	      <td><%= job.job_description %></td>
	      <td><%= job.job_type %></td>
	      <td><%= job.experience_level %></td>
	      <td><%= job.created_at.strftime("%m/%d/%Y") %></td>
	      <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %>/<%= link_to_modal "Edit", edit_job_path(job)%></td>
	    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to_modal 'Add New Job', new_job_path, :class=>"button tiny" %>
<br>
<%= link_to "Back to main", root_path %>
<br>
<br>

<% if user_signed_in? %>
	Signed in as <%= current_user.email %>. Not you?
	<%= link_to "Sign Out", destroy_user_session_path,:method => :delete %>
	<% else %>
	<%= link_to_modal "Sign Up", new_user_registration_path %> or
	<%= link_to_modal "Sign In", new_user_session_path %>
<% end %>